{% load static %}
{% comment %} <link href= "{% static "css/bootstrap.min.css" %}" rel="stylesheet">
<link href="{% static "css/mycss.css" %}" rel="stylesheet"> {% endcomment %}


  <div class="row py-3 mb-2 px-3 bg-secondary row-conformity" >
      <!-- <h1 id="strange-z" >  <a href="{% url "one_question" pk=question.id %}" >{{question.title}}</a>  </h1>
      <p> {{question.text}} </p> -->
      <div class="col-3 bg-light p-0">
        <img src="{% static "img/avatars/def.jpg" %}" width="100%" class="p-2">
      </div>
      <div class="col-9">
            <h3>  <a href="{% url "one_question" pk=question.id %}" class="text-dark d-inline-block text-truncate" style="text-decoration: none; max-width: 100%;">{{question.title}}</a>  </h3>
            <p class="text-dark">  {{question.text}} </p>
          {% comment %} <div class="row bg-primary">
           
          </div> {% endcomment %}
      </div>
  </div>
  <div class="row bg-warning">    
      <div class="col-3 bg-light p-0">
        <p class="text-center text-truncate mb-0" style="max-width: 90%;"><a href="{% url "user_question" pk=question.user_id %}" class="text-dark" style="text-decoration: none;">{{question.user}}</a></p>
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-light rounded-0 mb-0">&#128420;&emsp;{{question.likes}}</button>
      </div>
      <div class="col-4 p-0">
        <p style="text-truncate">
          {% for tag in question.tags %}
            <span class="bg-info rounded border-info text-brand-info px-2 pb-2 pt-1 mb-0 text-truncate"><a href="{% url "tag_page" name_of_tag=question.title %}" class="text-dark"  style="text-decoration: none;" >{{tag}}</a></span>
          {% endfor %}
        </p>
      </div>
      <div class="col-3">
          <p class="text-center text-truncate mb-0" style="max-width: 90%;"><a href="{% url "user_question" pk=question.user_id %}" class="text-dark" style="text-decoration: none;">{{question.user}}</a></p>
      </div>
      
  </div>
