{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-100"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>index.html</title>

    <link href= "{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href= "{% static "css/bootstrap-theme.min.css" %}" rel="stylesheet">
    
</head>

<body class="d-flex flex-column h-100 bg-light m-5" bg>

<header >
    {% include "include/user_navbar.html" %}
</header>

<main class="flex-shrink-0 bg-light" style="padding-top:40px;">
    <div class="container">
        <div class="row">
            <h3 class="col-auto pb-1" >
                {% block content-header %}
                {% endblock content-header %}
            </h3>
        </div>
        <div class="row mt-1">
            <div class="col-8">
                {% block content %}
                {% endblock content %}  
            </div>
            <div class="col-4">
                <div class="container">
                {% include "include/tags_right.html" %}
                </div>
            </div>
        </div>
    </div>
</main>

</body>



