{% load static %}

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark px-4 ml-4" >
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <a href="{% url "main_page" %}" ><img src="{% static "img/header4.png" %}" style="height: 45px;"></a>
        <div class="row">
                <div class="col-auto mx-lg-0 text-center">
                        <a class="nav-link text-light py-0" aria-current="page" href="{% url "main_page" %}">Новые вопросы</a>
                        <a class="nav-link text-light py-0" aria-current="page" href="{% url "hot" %}">Лучшие вопросы</a>
                </div>
        </div>
        <ul class="navbar-nav me-auto mx-0">
          <li class="nav-item">
            <form class="form-inline mt-2 mt-md-0">
                <input type="text" placeholder="Поиск">
                <button class="btn btn-outline-light my-2 my-sm-0">↵</button>
            </form>
          </li>
          <li class="nav-item">
            <a class="mx-2" href="{% url "ask" %}"><button class="btn btn-warning mx-2" type="submit">Задать вопрос</button></a>
          </li>
        </ul>  
    </div>  

        {% block auth_block %}
        {% endblock auth_block %}
    
</nav>