{% load static %}
{% comment %} <link href= "{% static "css/bootstrap.min.css" %}" rel="stylesheet">
<link href="{% static "css/mycss.css" %}" rel="stylesheet"> {% endcomment %}


  <div class="row pt-3 pb-0 px-3 row-eq-height border border-secondary">
      <div class="col-3 bg-light p-2">
        <a href="{% url "user_question" pk=question.user_id %}"><img src="{% static "img/avatars/def.jpg" %}" style="width:100%" class="p-2"></a>
      </div>
      <div class="col-9">
            <p class="text-dark">  {{answer.text}} </p>

      </div>    
  </div>

  <div class="row bg-secondary p-2 mb-2 d-flex justify-content-between">
  {% comment %} d-flex justify-content-between {% endcomment %}
      <div class="col-3 text-center">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button btn-sm" class="btn btn-outline-light">&#9650</button>
          <button type="button btn-sm" class="btn btn-outline-light">{{answer.likes}}</button>
          <button type="button btn-sm" class="btn btn-outline-light">&#9660</button>
        </div>
      </div>
      <div class="col-auto">

          {% if answer.is_correct != False %}
                <div class="form-check">
                  <input type="checkbox" class="form-check-input color-info" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Верный ответ?</label>
                </div>
          {% else %}
              <div>&#9745 верный ответ!</div>
          {% endif %}
      </div>
  </div>