{% extends "include/base.html"%}
{% load bootstrap4 %}

{% block content-header %}
  Задайте свой вопрос
{% endblock content-header %}

{% block content %}
<div class="row mb-2" >

<form novalidate class="form mt-5" action="{% url "ask" %}" method="post"> 
  {% csrf_token %}
  {% bootstrap_form form %}
  <input type="hidden" name="next" value="{{ request.GET.next }}"/>
  {% buttons %}
    <button class="btn btn-lg btn-warning btn-block my-3" type="submit">Задать вопрос!</button>
  {% endbuttons %}
</form>

</div>

{% endblock content %}