{% extends "include/base.html"%}

{% block content-header %}
    Вход
{% endblock content-header %}

{% block content %}

<div class="row mb-2" >
      <div class="col-3"><label for="inputEmail" class="sr-only mb-3">Имя пользователя</label></div>
      <div class="col-auto">
        <input id="inputEmail" class="form-control-warning mb-2" required autofocus>
        <p class="text-danger d-none"><small>Нет такого пользователя</small></p>
      </div>
</div>
<div class="row mb-2" >
      <div class="col-3"><label for="inputNick" class="sr-only mb-3">Пароль</label></div>
      <div class="col-auto">
        <input id="inputNick" class="form-control-warning mb-2" required>
        <p class="text-danger d-none"><small>Пароль неверный</small></p>
      </div>
</div>

<button class="btn btn-lg btn-warning btn-block mb-2" type="submit">Войти!</button>

{% endblock content %}