{% extends "include/base.html"%}
{% load bootstrap4 %}

{% block content-header %}
    Вход
{% endblock content-header %}

{% block content %}

<div class="row mb-2" >
<form novalidate class="form mt-5" action="{% url "login" %}" method="post"> 
  <input type="hidden" name="next" value="{{ request.GET.next }}"/>
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button class="btn btn-lg btn-warning btn-block my-3" type="submit">Войти</button>
  {% endbuttons %}
</form>
</div>

{% comment %}
<div class="row mb-2" >
      <div class="col-3"><label for="inputEmail" class="sr-only mb-3">Имя пользователя</label></div>
      <div class="col-auto">
        <input id="inputEmail" class="form-control-warning mb-2" required autofocus>
        <p class="text-danger d-none"><small>Нет такого пользователя</small></p>
      </div>
</div>
<div class="row mb-2" >
      <div class="col-3"><label for="inputNick" class="sr-only mb-3">Пароль</label></div>
      <div class="col-auto">
        <input id="inputNick" class="form-control-warning mb-2" required>
        <p class="text-danger d-none"><small>Пароль неверный</small></p>
      </div>
</div>
{% endcomment %}

{% endblock content %}