{% extends "include/base.html"%}
{% load static %}

{% block content-header %}
    Ваш профиль
{% endblock content-header %}

{% block content %}
<div class="row mb-2" >
      <div class="col-3"><label for="inputEmail" class="sr-only mb-3">Адрес e-mail</label></div>
      <div class="col-auto">
        <p>{{request.user.email}}</p>
      </div>
</div>
      
<div class="row" >
      <div class="col-3"><label for="inputNick" class="sr-only">Имя пользователя</label></div>
      <div class="col-auto">
        <p>{{request.user.username}}</p>
      </div>
</div>


<button class="btn btn-lg btn-warning btn-block mt-4"><a href="{% url "edit" %}" class="text-dark" style="text-decoration: none;">Редактировать профиль</a></button>


<div class="row mt-4" >
<h3 class="col-auto pb-1" >Ваши вопросы</h3>
</div>  

<div class="row mb-2" >
{% for question in cards %}
  {% include "include/one_question.html" %}
{% endfor %}
{% include "include/pagination.html" %}
</div>  

{% endblock content %}